<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="common" value="https://nuget.pkg.github.com/elon-max/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <common>
      <add key="Username" value="%GITHUB_ACCOUNT%" />
      <add key="ClearTextPassword" value="%GITHUB_PKG_NFW_AUTH_TOKEN%" />
    </common>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="common">
      <package pattern="NeuroFramework.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>