name: 2_append_artifact_url

on:
  # artifactのURLはJob実行中には取得できないため、workflow_runのcompletedイベントを利用する
  workflow_run:
    workflows:
      - "0_pr_update"
    types:
      - "completed"

jobs:
  add_comment:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    steps:
      - name: ":pushpin: Get Artifact Information"
        id: get_artifact
        uses: actions/github-script@v7
        with:
          script: |
            const eventObj = JSON.parse('${{ toJSON(github.event.workflow_run) }}');
            console.log(eventObj);
            const artifacts = await github.rest.actions.listWorkflowRunArtifacts({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: eventObj.id
            });
            const artifact = artifacts.data.artifacts.filter(artifact => artifact.expired === false)[0];
            console.log(artifact);
            if (artifact) {
              core.setOutput('artifact_id', artifact.id);
              core.setOutput('artifact_url', artifact.archive_download_url); // artifact.urlかもしれない
            }
            // context.issue.numberはPRの番号
            core.setOutput('issue_number', context.issue.number);
            core.setOutput('head_sha', context.sha);

      - name: ":mag: Find Comment"
        uses: peter-evans/find-comment@v2
        id: find_comment
        with:
          issue-number: ${{ steps.get_artifact.outputs.issue_number }}
          comment-author: "github-actions[bot]"
          body-includes: "Semgrep Analysis"
          direction: last

      - name: ":pencil: Update Comment"
        uses: peter-evans/create-or-update-comment@v3
        if: ${{ steps.get_artifact.outputs.artifact_id != '' }}
        with:
          issue-number: ${{ steps.get_artifact.outputs.issue_number }}
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          body: |-
            #### Semgrep Artifact

            ![badge]
            You can download the semgrep sarif file from the link below.
            Please note that file only stay for around 90 days!

            | Name        | Link                    |
            | ----------- | ----------------------- |
            | Commit      | ${{ steps.get_artifact.outputs.head_sha }}     |
            | Artifact    | [${{ steps.get_artifact.outputs.articat_id }}](${{ steps.get_artifact.outputs.articat_url }}) |

            [badge]: https://img.shields.io/badge/Build-Success!-3fb950?logo=github&style=for-the-badge
